extends partials/layout.pug

block content
  h1 Welcome to the PIZZA Part 3: The Pug-ification With BLOCKING!
  h2: a(href="/about") ABOUT OUR PIZZA 
  .container
    img(src="http://i.giphy.com/e2AKpOvx2MREY.gif")
  .container  
    h3= message
  .container
    a(href="http://i.giphy.com/ZqwOpDboQWkco.gif") Hot Pizza Bling asdf  asdf
